/* FONTS ************************************/

@font-face {
  font-family: 'Roobert';
  src: url('/public/fonts/RoobertMonoTRIAL-Regular-BF67243fd29a433.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/public/fonts/RoobertMonoTRIAL-Light-BF67243fd27eae5.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/public/fonts/RoobertMonoTRIAL-SemiBold-BF67243fd2c0028.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

/* GLOBAL ************************************/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 0;
  font-family: 'Roobert', sans-serif;
  background: white;
  color: black;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}



/* NAV ************************************/



.nav {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
  padding: 0px 32px;
  font-size: 14px;
}

.logo {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}

.logo span.bracket {
  font-size: 18px;
  font-weight: 100;
  position: relative;
  top: 1.5px;
}

.logo span.intro {
  font-size: 10px;
  vertical-align: baseline;
  font-weight: 100;
}

.nav__btn {
  background: black;
  color: white;
  padding: 10px 12px;
  border: none;
  font-size: 12px;
  cursor: not-allowed;
}



/* LANDING ************************************************/


.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -48px;
}

.landing__title h1 {
  font-size: 80px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  line-height: 0.9;
  letter-spacing: -4px;
}

.landing__para {
  position: absolute;
  width: 20%;
  bottom: 30px;
  left: 40px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.6;
}

.side__btn--wrapper {
  position: absolute;
  top: 50%;
  width: 350px;
  height: 350px;
  border: 1.5px dotted #999;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: visible;
  pointer-events: none;
}

.side__btn--wrapper.right {
  right: -180px;
}

.side__btn--wrapper.left {
  left: -180px;
}

.side__btn--content {
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 8px;
  width: 100%;
  text-align: left;
}


.side__btn--wrapper.left .side__btn--content {
  justify-content: flex-start; 
  flex-direction: row-reverse;
  text-align: right;
}


.side__btn--content span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.arrow {
  width: 30px;
  height: 30px;
  object-fit: contain;
}




/* SMALL PHONES, TABLETS, LARGE SMARTPHONES ***************************/

@media (max-width: 768px) {

  .landing__para {
    position: absolute;
    width: 50%;
    bottom: 30px;
    left: 40px;
    font-size: 8px;
    text-transform: uppercase;
    line-height: 1.6;
  }

  .landing__title h1 {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    line-height: 0.9;
    letter-spacing: -2px;
  }

  .side__btn--wrapper {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 150px;
    border: 1.5px dotted #999;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    z-index: 1;
    overflow: visible;
    pointer-events: none;
  }
  
  .side__btn--wrapper.right {
    right: -75px;
  }
  
  .side__btn--wrapper.left {
    left: -75px;
  }
  
  .side__btn--content {
    transform: rotate(-45deg);
    gap: 8px;
    width: 100%;
    text-align: left;
  }
  
  
  .side__btn--wrapper.left .side__btn--content {
    flex-direction: row-reverse;
    text-align: left;
    padding-left: 80px;
  }
  
  
  .side__btn--content span {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .arrow {
    width: 15px;
    height: 15px;
  }

}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {

}
