body {
  margin: 0;

  @font-face {
    font-family: 'Roobert';
    src: url('/public/fonts/RoobertMonoTRIAL-Regular-BF67243fd29a433.otf') format('otf');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roobert';
    src: url('/public/fonts/RoobertMonoTRIAL-Light-BF67243fd27eae5.otf') format('otf');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roobert';
    src: url('/public/fonts/RoobertMonoTRIAL-SemiBold-BF67243fd2c0028.otf') format('otf');
    font-weight: 600;
    font-style: normal;
  }
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
